<!DOCTYPE html>
<html lang="en">
<%- include('_header', { backend: backend, config: config, con: con, loggedIn: loggedIn }); %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="theme-color" content="#0C1017">
    <meta property="og:url" content="<%= config.domain %>">
    <meta property="og:title" content="<%= config.seoSettings.title %>">
    <meta property="og:description" content="<%= config.seoSettings.description %>">
    <meta property="og:image" content="<%= config.seoSettings.imageURL %>">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Exo:500,500italic,700,700italic,400,400italic,600,600italic,900,900italic">
    <link rel="shortcut icon" href="<%= config.seoSettings.imageURL %>">
    <link rel="stylesheet" href="/css/main.css">
    <title>Upload a File</title>
</head>
<body>
    <h1 style="font-size: 2em;">Upload a File</h1>
    <br>
    <div class="container">
        <div class="justify-content-center mx-auto">
            <div class="col d-block mb-3 mx-auto">
                <div class="card text-white bg-primary mx-auto" style="max-width: 18rem;">
                    <div class="card-body">
                    </div>
                        <form method="post" encType="multipart/form-data" action="/upload/file">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="file" name="file" class="up" required>
                                <input type="password" placeholder="Password (Optional)" name="password" class="up" >
                            </div>
                            
                            <button class="btn btn-primary" type="submit" name="file" style="margin: auto;display: grid;">Upload</a>
                        </form>
                        <br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('_footer'); %>
</body>
</html>